:root {
  --font-size-h2: 36px;

  @screen 2xl {
    --font-size-h2: 48px;
  }
}

.text-h1 {
  @apply text-5xl font-bold leading-4 sm:text-6xl lg:text-7xl;
}

.text-h3 {
  @apply text-xl font-bold sm:text-2xl lg:text-3xl;
}

.text-copy {
  p + p {
    margin-top: 1em;
  }
}
