@layer base {
  :root {
    --font-weight-black: 900;
    --font-weight-heavy: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-thin: 200;
    --font-weight-ultralight: 100;

    /* Text Styles */

    /* Copy 3 font settings */
    --text-c3: 1.1rem;
    --tracking-c3: 0.42;
    --leading-c3: 1.3rem;

    /* Copy 2 font settings */
    --text-c2: 1.5rem;
    --tracking-c2: 0.58;
    --leading-c2: 2rem;

    /* Copy 1 font settings */
    --text-c1: 1.7rem;
    --tracking-c1: 0.65;
    --leading-c1: 2.2rem;

    /* Button font settings */
    --text-button: var(--text-c1);
    --tracking-button: var(--tracking-c1);
    --leading-button: var(--leading-c1);

    /* Headline h6 font settings */
    --text-h6: var(--text-c1);
    --tracking-h6: var(--tracking-c1);
    --leading-h6: var(--leading-c1);

    /* Headline h5 font settings */
    --text-h5: 2rem;
    --tracking-h5: 0.77;
    --leading-h5: 2.5rem;

    /* Headline h4 font settings */
    --text-h4: 2.2rem;
    --tracking-h4: 0.85;
    --leading-h4: 2.8rem;

    /* Headline h3 font settings */
    --text-h3: 2.8rem;
    --tracking-h3: 1.08;
    --leading-h3: 3.4rem;

    /* Headline h2 font settings */
    --text-h2: 3.4rem;
    --tracking-h2: 1.31;
    --leading-h2: 4.1rem;

    /* h1 font settings */
    --text-h1: 4rem;
    --tracking-h1: -0.97;
    --leading-h1: 4.8rem;

    /* Counter font settings */
    --text-counter: 7.2rem;
    --tracking-counter: -1.74;
    --leading-counter: 5.2rem;

    @screen lg {
      /* Text Styles */

      /* Copy 3 font settings */
      --text-c3: 1.3rem;
      --tracking-c3: 0.5;
      --leading-c3: 1.8rem;

      /* Copy 2 font settings */
      --text-c2: 1.7rem;
      --tracking-c2: 0.65;
      --leading-c2: 2.2rem;

      /* Copy 1 font settings */
      --text-c1: 1.9rem;
      --tracking-c1: 0.73;
      --leading-c1: 2.4rem;

      /* Headline h5 font settings */
      --text-h5: 2.2rem;
      --tracking-h5: 0.85;
      --leading-h5: 2.8rem;

      /* Headline h4 font settings */
      --text-h4: 2.4rem;
      --tracking-h4: 0.92;
      --leading-h4: 3rem;

      /* Headline h3 font settings */
      --text-h3: 3rem;
      --tracking-h3: 1.15;
      --leading-h3: 3.7rem;

      /* Headline h2 font settings */
      --text-h2: 3.6rem;
      --tracking-h2: 1.38;
      --leading-h2: 4.3rem;

      /* h1 font settings */
      --text-h1: 4.8rem;
      --tracking-h1: -1.16;
      --leading-h1: 5.6rem;

      /* Counter font settings */
      --text-counter: 13.6rem;
      --tracking-counter: -3.29;
      --leading-counter: 10.6rem;
    }

    @screen xl {
      /* Text Styles */

      /* Copy 3 font settings */
      --text-c3: 1.7rem;
      --tracking-c3: 0.65;
      --leading-c3: 2.2rem;

      /* Copy 2 font settings */
      --text-c2: 2.1rem;
      --tracking-c2: 0.81;
      --leading-c2: 2.8rem;

      /* Copy 1 font settings */
      --text-c1: 2.3rem;
      --tracking-c1: 0.88;
      --leading-c1: 2.9rem;

      /* Headline h5 font settings */
      --text-h5: 2.6rem;
      --tracking-h5: 1;
      --leading-h5: 3.2rem;

      /* Headline h4 font settings */
      --text-h4: 2.8rem;
      --tracking-h4: 1.08;
      --leading-h4: 3.4rem;

      /* Headline h3 font settings */
      --text-h3: 3.4rem;
      --tracking-h3: 1.31;
      --leading-h3: 4.1rem;

      /* Headline h2 font settings */
      --text-h2: 4rem;
      --tracking-h2: 1.54;
      --leading-h2: 4.8rem;

      /* h1 font settings */
      --text-h1: 8rem;
      --tracking-h1: -1.94;
      --leading-h1: 9.6rem;

      /* Counter font settings */
      --text-counter: 16.4rem;
      --tracking-counter: -3.97;
      --leading-counter: 11.6rem;
    }
  }
}

@layer utilities {
  .text-copy {
    @apply text-c1;

    * + * {
      margin-top: var(--leading-c1);
    }

    h1,
    h2 {
      @apply text-h2;
    }

    h3 {
      @apply text-h3;
    }

    h4 {
      @apply text-h4;
    }

    h5 {
      @apply text-h5;
    }

    h6 {
      @apply text-h6;
    }
  }
}
