<div class="container">
  {{ partial:grid }}
    <div
      class="col-span-full flex flex-col items-start gap-8 rounded-md border border-zinc-800 bg-black-gradient p-4 sm:p-8 lg:col-span-10 lg:col-start-2 lg:gap-12 lg:p-12 xl:col-span-8 xl:col-start-3"
    >
      <h2
        class="text-4xl font-bold leading-tight pink-gradient-text sm:text-5xl sm:leading-tight lg:text-7xl lg:leading-tight"
      >
        {{ headline }}
      </h2>

      {{ text }}
        {{ partial:if_exists src="modules/texts/{{ type }}" }}
      {{ /text }}
      {{ partial:components/button :label="label" open_in_new_window="true" }}
        {{ slot:svg }}
          {{ if add_icon }}
            {{ svg :src="icon" class="w-4 lg:w-6" stroke-width="3" }}
          {{ /if }}
        {{ /slot:svg }}
      {{ /partial:components/button }}
    </div>
  {{ /partial:grid }}
</div>
