<div class="container mt-10">
    {{ partial:grid }}
        <div class="col-span-9 col-start-2">
            <blockquote class="relative pl-8 md:pl-0">
                {{ svg src="quote" class="w-16 absolute -z-10 left-0 top-0 -translate-y-1/4 md:-translate-x-2/3 md:w-24 xl:w-36" }}
                <p class="text-h2 sm:text-h1">
                    {{ quote }}
                </p>
                {{ if author }}
                    <footer class="mt-4 max-w-prose text-copy-2 text-white/80">
                        {{ author | widont }}
                    </footer>
                {{ /if }}
            </blockquote>
        </div>
    {{ /partial:grid }}
</div>
