<div class="container">
    {{ partial:grid class="gap-y-xs" }}
        <div class="relative md:col-span-10 lg:col-span-5 xl:col-span-4">
            <h2
                class="{{ headline_appearance === 'default' ? 'pink-gradient-text' : 'text-white' }} relative hyphens-auto text-balance text-title"
            >
                {{ headline }}
                <div class="absolute right-full top-[0.675em] mr-6 hidden h-px w-screen bg-white/30 xl:block"></div>
            </h2>
        </div>
        {{ if text }}
            <div class="col-span-full flex flex-col items-start lg:col-span-8 lg:col-start-6">
                {{ partial:if_exists src="partials/copy" }}
            </div>
        {{ /if }}
    {{ /partial:grid }}
</div>
