name: Deploy

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  forge_deploy_production:
    if: github.event_name == 'release' && github.event.action == 'published'
    name: Laravel Forge Deploy to Production
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://21st.digital
    concurrency:
      group: production
      cancel-in-progress: true
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          tools: composer:v2
          coverage: none
      - name: Require Forge CLI
        run: composer global require laravel/forge-cli
      - name: Deploy Site
        run: |
          forge server:switch ${{ secrets.FORGE_SERVER_ID }}
          forge deploy ${{ secrets.FORGE_SITE_ID }}
        env:
          FORGE_API_TOKEN: ${{ secrets.FORGE_API_KEY }}
