name: Draft Release
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create Release Draft
        uses: 21stdigital/savr-action@v1.2.0
        with:
          github-token: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
