{{#
  // TODO: Add scroll-based image animation for `image_behavior == 'scrollable'`,
  see https://codepen.io/Sm1lEE/pen/yLWBJjG for reference.
#}}

<div class="col-span-full">
  {{ partial:grid class="items-center" }}
    {{ if image_position === 'right' }}
      {{ partial:modules/tiles/text grid_css="md:col-span-6 md:col-start-1 pr-8 sm:pr-16 -mb-6 md:pr-0 md:mb-0" }}
    {{ /if }}
    <div
      class="{{ image_position === 'right' ? 'pl-8 sm:pl-16 md:col-start-6' : 'pr-8 sm:pr-16 md:col-start-1' }} -z-10 md:col-span-7 md:row-span-full md:px-0"
    >
      <div
        class="aspect-video overflow-hidden rounded-lg border border-zinc-800 bg-black-gradient"
      >
        {{ if image_behavior === 'cover' }}
          <img
            src="{{ glide :src="image" width="900" height="506" format="webp" dpr="2" }}"
            alt="{{ image.alt }}"
          />
        {{ /if }}
        {{ if image_behavior === 'scrollable' }}
          <img
            src="{{ glide :src="image" width="900" format="webp" dpr="2" }}"
            alt="{{ image.alt }}"
          />
        {{ /if }}
      </div>
    </div>
    {{ if image_position === 'left' }}
      {{ partial:modules/tiles/text grid_css="md:col-span-6 md:col-start-7 pl-8 sm:pl-16 -mt-6 md:pl-0 md:mt-0" }}
    {{ /if }}
  {{ /partial:grid }}
</div>
