{{#
    // TODO: Play video only when it is in the viewport (e. g. intersection observer).
#}}

<div class="col-span-full">
    {{ partial:grid class="items-center gap-y-6" }}
        {{ if video_position === 'right' }}
            {{ partial:modules/tiles/text grid_css="col-span-full lg:col-span-6 lg:row-span-full lg:col-start-1" }}
        {{ /if }}
        <div
            class="{{ video_position === 'right' ? 'lg:col-start-6' : 'sm:pr-16 lg:col-start-1' }} -z-10 col-span-full lg:col-span-7 lg:row-span-full lg:px-0"
        >
            <div class="aspect-video overflow-hidden rounded-lg border border-zinc-800 bg-black-gradient">
                <video src="{{ video }}" autoplay muted loop playsinline class="w-full" loaading="lazy"></video>
            </div>
        </div>
        {{ if video_position === 'left' }}
            {{ partial:modules/tiles/text grid_css="col-span-full lg:col-span-6 lg:row-span-full lg:col-start-7" }}
        {{ /if }}
    {{ /partial:grid }}
</div>
